<div class="container">
  <div class="row">
  <div class="col-sm leftInfo">
<h1>{{aCompany.name}}</h1>
<h4 style="color: #212529">{{aCompany.description}}</h4>
</div>
<div class="col-sm rightInfo my-auto">
<h5> <span style="color: #212529">Type: </span> {{aCompany.type}}</h5>
<h5> <span style="color: #212529"> Street Address: </span> {{aCompany.address}}</h5>
<h5> <span style="color: #212529"> City State Zip:  </span> {{aCompany.city}} {{aCompany.state}} {{aCompany.zip}}</h5>
<h5> <span style="color: #212529"> Phone:  </span> {{aCompany.phone}}</h5>
</div>
</div>


<!-- owner relationship, need qual from user -->

<div *ngIf="showEmployees">
  <div *ngIf="aCompany.employees.length > 0">
    <h3>My Employees</h3>
    <table class = "table table-bordered">
      <thead>
        <tr>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Email</th>
          <th>Remove</th>
        </tr>
      </thead>
      <tbody class="text-light">
        <tr *ngFor="let employee of aCompany.employees">
         <td>{{employee.userDetail.firstName}}</td>
         <td>{{employee.userDetail.lastName}}</td>
         <td>{{employee.userDetail.email}}</td>
         <td><button class="buttonRed" (click)="removeEmployee(employee.id)">Remove</button></td>
        </tr>
      </tbody>
    </table>
    <!-- TODO Fix add employee -->
    <button class="buttonGreen"  *ngIf="!addingEmployee" (click)="addingEmployee = true">Add Employee</button>
  </div>
  <div *ngIf="aCompany.employees.length == 0">
    <h3>No Employees!</h3>
    <!-- TODO Fix add employee -->
    <button class="buttonGreen"  *ngIf="!addingEmployee"  (click)="addingEmployee = true">Add Employee</button>
  </div>
  <div *ngIf="!addingEmployee">
    <button class="buttonRed" (click)="showEmployees = false">Hide Employees</button>
  </div>
  <div *ngIf="addingEmployee">
    <form>
      <h3>Search By Email:</h3>
      <label for="email">Email:</label>
      <input type="text" name="email" required [(ngModel)]="emailSearch"><br><br>
      <button class="buttonGreen" (click)="performSearch()">Search</button>
      <button class="buttonRed" (click)="addingEmployee = false">Cancel</button>
    </form>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Email</th>
          <th>Name</th>
          <th>Add User as Employee</th>
        </tr>
      </thead>
      <tbody class="text-light">
        <tr *ngFor="let user of usersFound">
          <td>{{user.userDetail.email}}</td>
          <td>{{user.userDetail.firstName}} {{user.userDetail.lastName}}</td>
          <td>
            <span *ngIf="userIsAlreadyEmp(user.userDetail.id)">
              Current Employee
            </span>
            <span *ngIf="!userIsAlreadyEmp(user.userDetail.id)">
              <button class="buttonGreen"(click)="registerEmployee(user)">Add as Employee</button>
            </span>
          </td>
        </tr>
      </tbody>
    </table>


  </div>
</div>
<div *ngIf="!showEmployees">
  <button class="buttonGreen" (click)="showEmployees = true">Show Employees</button>
</div>

<div *ngIf="projectsForCompany.length > 0">
  <h3>Our Customer's Requests</h3>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Name</th>
        <th>Customer Email</th>
      </tr>
    </thead>
    <tbody class="text-light">
      <tr *ngFor="let project of projectsForCompany">
        <td (click)="showProjectDetails(project)">{{project.name}}</td>
        <td>{{project.customer.userDetail.email}}</td>
      </tr>
    </tbody>
  </table>


  <!-- show edit project -->

  <div class="editCompanyForm"*ngIf="editingProject">
    <form>
      <h3>Edit {{selectedProject.name}}:</h3>
      <label for="name">Name:</label><br>
      <input size="60%" type="text" name="name" required [(ngModel)]="editingProject.name"><br>
      <label for="active">Active:</label><br>
      <input size="80%" type="checkbox" name="active" required [(ngModel)]="editingProject.active"><br>
      <button class="buttonGreen" (click)="saveEditProject()">Save Edits for {{selectedProject.name}}</button>
      <button class="buttonRed" (click)="cancelEditProject()">Cancel</button>
    </form>
  </div>

  <!-- single project view with tasks -->

  <div *ngIf="selectedProject != null && !editingProject">
    <h3>Selected Project: {{selectedProject.name}}</h3>

    <button class="buttonGreen" (click)="showEditProject(selectedProject)">Edit {{selectedProject.name}}</button>
    <button class ="buttonRed" (click)="selectedProject = null">Hide Details</button>
    <h3>{{selectedProject.name}} Tasks</h3>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Task Name</th>
          <th>Task Due Date</th>
          <th>Employee(s)</th>
          <th>Delete Task</th>
        </tr>
      </thead>
      <tbody class="text-light">
        <tr *ngFor="let task of selectedProject.tasks | taskIsActive: true">
          <td (click)="showEditTask(task)">{{task.name}}</td>
          <td>{{task.dueDate}}</td>
          <td>
            <span *ngFor="let emp of task.employees">
              {{emp.userDetail.firstName}} {{emp.userDetail.lastName}} <br>
              <i>{{emp.userDetail.email}}</i>
              <br>
            </span>

          </td>
          <td><button class="buttonRed" (click)="disableTask(task)">Delete {{task.name}}</button></td>
        </tr>
      </tbody>
    </table>
    <button class="buttonGreen" *ngIf="editingATask == null" (click)="showCreateTask()">Add new task to {{selectedProject.name}}</button>
  </div>
  <!-- add/edit task? -->
  <div class="editCompanyForm"*ngIf="newTask != null">
    <form>
      <h3 *ngIf="!editingATask">New Task Form:</h3>
      <h3 *ngIf="editingATask">Edit Task Form:</h3>
      <label for="name">Name:</label><br>
      <input size="80%" type="text" name="name" required [(ngModel)]="newTask.name"><br>
      <label for="description">Description:</label><br>
      <input size="80%" type="type" name="description" [(ngModel)]="newTask.description"><br>
      <label for="type">Type:</label><br>
      <input size="80%" type="text" name="type" [(ngModel)]="newTask.type"><br>
      <label for="priority">Priority:</label><br>
      <input size="80%" type="text" name="priority" [(ngModel)]="newTask.priority"><br>
      <label for="price">Price:</label><br>
      <input size="80%" type="number" step="0.01" name="price" [(ngModel)]="newTask.price"><br>


      <label for="dueDate">DueDate:</label><br>
      <input type="date" name="dueDate" [(ngModel)]="newTask.dueDate"><br>
      <label for="startDate">Start Date:</label><br>
      <input size="80%" type="date" name="startDate" [(ngModel)]="newTask.startDate"><br>
      <label for="completeDate">Complete Date:</label><br>
      <input size="80%" type="date" name="completeDate" [(ngModel)]="newTask.completeDate"><br>

      <label for="status">Status:</label><br>
      <select name="status" [(ngModel)]="newTask.status">
        <option value="NOTASSIGNED">Not Assigned</option>
        <option value="ASSIGNED">Assigned</option>
        <option value="INPROGRESS">In Progress</option>
        <option value="COMPLETE">Complete</option>
      </select><br>
      <span *ngIf="aCompany.employees.length > 0">
        <label for="employees">Assigned Employees:</label><br>
        <select name="employees" [(ngModel)]="selectedEmployee">
            <option *ngFor="let employee of aCompany.employees" value="{{employee.id}}">{{employee.userDetail.firstName}} {{employee.userDetail.lastName}}</option>
        </select><br>
      </span>

      <label for="paid">Paid:</label><br>
      <input type="checkbox" name="paid" [(ngModel)]="newTask.paid"><br>
      <button class="buttonGreen" *ngIf="!editingATask" (click)="saveNewTask()">Create New Task</button>
      <button class="buttonGreen" *ngIf="editingATask" (click)="saveEditTask()">Save Task</button>
      <button class="buttonRed" (click)="cancelNewOrEditTask()">Cancel</button>
    </form>
  </div>
</div>

<!-- emp relationship, need qual from user -->

<div *ngIf="empTasksToDo.length > 0">
  <h3>My Tasks To Do</h3>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Task Name</th>
        <th>Task Due Date</th>
      </tr>
    </thead>
    <tbody class="text-light">
      <tr *ngFor="let task of empTasksToDo">
        <td>{{task.name}}</td>
        <td>{{task.dueDate}}</td>
      </tr>
    </tbody>
  </table>
  <!-- edit single task -->

</div>

<!-- customer relationship, need qual from user -->

<div>
  <div *ngIf="projectsRequested.length > 0">
    <h3>Projects Requested</h3>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Name</th>
          <th>Customer Email</th>
        </tr>
      </thead>
      <tbody class="text-light">
        <tr *ngFor="let project of projectsRequested">
          <td>{{project.name}}</td>
          <td>{{project.customer.userDetail.email}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div>
    <button class="buttonGreen" (click)="showRequestNewProject()">Request new project</button>
  </div>
  <!-- request new project -->
  <div class="editCompanyForm" *ngIf="newProject != null">
    <form>
      <h3>Request New Project:</h3>
      <label for="name">Name:</label><br>
      <input size="80%"type="text" name="name" required [(ngModel)]="newProject.name"><br><br>
      <label for="description">Description:</label><br>
      <input size="80%" type="text" name="name" required [(ngModel)]="newProject.description"><br><br>
      <button class="buttonGreen" (click)="saveRequestNewProject()">Request Project</button>
      <button class="buttonRed" (click)="cancelNewProject()">Cancel</button>
    </form>
  </div>

</div>
</div>
