

<!--
<a [routerLink] = "'learn'" routerLinkActive="active">Learn More About BMTK</a>
<br>
<a [routerLink] = "'currentcustomer'" routerLinkActive="active">See Companies Using BMTK</a>
<br>
<a [routerLink] = "'employee'" routerLinkActive="active">Create an employee</a>
<br>
<a [routerLink] = "'customer'" routerLinkActive="active">Create a customer</a>
<br>
<a [routerLink] = "'companycreated'" routerLinkActive="active">Company Created</a>
<br> -->



<a [routerLink] = "'home'" routerLinkActive="active">Home</a>
<br>


<div *ngIf="!checkForUser()">
<a [routerLink] = "'login'" routerLinkActive="active">Login</a>
<br>
<a [routerLink] = "'account'" routerLinkActive="active">Sign Up</a>
<br>
</div>
<div *ngIf="checkForUser()">
<a [routerLink] = "'account'" routerLinkActive="active">Account</a>
<br>
<a (click)="logout()" [routerLink] = "'login'" routerLinkActive="active">Sign Out</a>
<br>
</div>
