<!-- if no user logged in, create new account -->
<div *ngIf="currentUser == null">
  <button (click)="redirToSignIn()">Sign In</button>
  <br>
  <hr>
  <br>
  <h3>Create A New Account</h3>
  <form>
    <label for="username">Username:</label>
    <input type="text" id="username" name="username" required [(ngModel)]="newUser.username"><br><br>
    <label for="password">Password:</label>
    <input type="password" id="password" name="password" required [(ngModel)]="newUser.password"><br><br>
    <label for="firstName">First name:</label>
    <input type="text" id="firstName" name="firstName" required [(ngModel)]="newUserDetail.firstName"><br><br>
    <label for="lastName">Last name:</label>
    <input type="text" id="lastName" name="lastName" [(ngModel)]="newUserDetail.lastName"><br><br>
    <label for="email">Email:</label>
    <input type="text" id="email" name="email" required [(ngModel)]="newUserDetail.email"><br><br>
    <label for="street">Street address:</label>
    <input type="text" id="street" name="street" [(ngModel)]="newUserDetail.street"><br><br>
    <label for="city">City:</label>
    <input type="text" id="city" name="city" [(ngModel)]="newUserDetail.city"><br><br>
    <label for="state">State:</label>
    <input type="text" id="state" name="state" [(ngModel)]="newUserDetail.state"><br><br>
    <label for="zipcode">Zipcode:</label>
    <input type="text" id="zipcode" name="zipcode" [(ngModel)]="newUserDetail.zipcode"><br><br>
    <label for="country">Country:</label>
    <input type="text" id="country" name="country" [(ngModel)]="newUserDetail.country"><br><br>
    <label for="phone">Phone:</label>
    <input type="tel" pattern="[0-9]{10}" id="phone" name="phone" [(ngModel)]="newUserDetail.phone"><br><br>
    <button (click)="saveCreateUser()">Create Account</button>
  </form>
  <div id = "createUserError">{{userCreated}}</div>
</div>

<!-- if user logged in, show account information -->
<div *ngIf="currentUser != null">

  <!-- div for toplevel messaging -->
  <div *ngIf="headerMessage != null">
    <h3>{{headerMessage}}</h3>
  </div>

  <!-- div for account info -->
  <div>
    <h3>User: {{currentUser.username}}</h3>
    <p>
      Name: {{currentUser.userDetail.firstName}} {{currentUser.userDetail.lastName}}<br>
      Email: {{currentUser.userDetail.email}}<br>
      Street: {{currentUser.userDetail.street}}<br>
      City: {{currentUser.userDetail.city}}<br>
      State: {{currentUser.userDetail.state}}<br>
      Zip: {{currentUser.userDetail.zipcode}}
    </p>
    <button type="button" (click)="showEditUser()">Edit Account Information</button>
    <hr>
  </div>

  <!-- div for owner relationships -->
  <div *ngIf="companiesOwned.length > 0">
    <h3>My Companies</h3>
    <table class="table table-bordered table-hover">
      <thead>
        <tr>
          <th>Company Name</th>
          <th>Company Description</th>
          <th>Edit Company</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let company of companiesOwned">
          <td (click)="goToCompanyPage(company.id)">{{company.name}}</td>
          <td>{{company.description}}</td>
          <td><button (click)="showEditCompany(company)">Edit {{company.name}} Information</button></td>
        </tr>
      </tbody>
    </table>
    <hr>
  </div>

  <!-- div for employee relationships -->
  <div *ngIf="tasksToDo.length > 0">
    <h3>My Tasks</h3>
    <table class="table table-bordered table-hover">
      <thead>
        <tr>
          <th>Task Name</th>
          <th>Task Due Date</th>
          <th>Edit Task</th>
       </tr>
     </thead>
     <tbody>
       <tr *ngFor="let task of tasksToDo">
         <td>{{task.name}}</td>
         <td>{{task.dueDate}}</td>
         <td><button>Edit {{task.name}} Information</button></td>
        </tr>
      </tbody>
    </table>
    <hr>
  </div>

  <!-- div for customer relationships -->
  <div *ngIf="projectsRequested.length > 0">
    <h3>My Project Requests</h3>
    <table class="table table-bordered table-hover">
      <thead>
        <tr>
          <th>Project Name</th>
          <th>Project Company</th>
          <th>Edit Project</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let project of projectsRequested">
          <td>{{project.name}}</td>
          <td (click)="goToCompanyPage(project.company.id)">{{project.company.name}}</td>
          <td><button (click)="showEditProject(project)">Edit {{project.name}} Information</button></td>
        </tr>
      </tbody>
    </table>
    <hr>
  </div>

  <!-- div for edit user info -->
  <div *ngIf="editUser != null">
    <form>
      <!-- <label for="username">Username:</label>
      <input type="text" name="username" required [(ngModel)]="currentUser.username"><br> -->
      <label for="firstName">First name:</label>
      <input type="text" name="firstName" required [(ngModel)]="editUser.userDetail.firstName"><br>
      <label for="lastName">Last name:</label>
      <input type="text" name="lastName" [(ngModel)]="editUser.userDetail.lastName"><br>
      <label for="email">Email:</label>
      <input type="text" name="email" required [(ngModel)]="editUser.userDetail.email"><br>
      <label for="street">Street address:</label>
      <input type="text" name="street" [(ngModel)]="editUser.userDetail.street"><br>
      <label for="city">City:</label>
      <input type="text" name="city" [(ngModel)]="editUser.userDetail.city"><br>
      <label for="state">State:</label>
      <input type="text" name="state" [(ngModel)]="editUser.userDetail.state"><br>
      <label for="zipcode">Zipcode:</label>
      <input type="text" name="zipcode" [(ngModel)]="editUser.userDetail.zipcode"><br>
      <label for="country">Country:</label>
      <input type="text" name="country" [(ngModel)]="editUser.userDetail.country"><br>
      <label for="phone">Phone:</label>
      <input type="text" name="phone" [(ngModel)]="editUser.userDetail.phone"><br>
      <button type="button" class="btn btn-primary" (click)="saveEditUser()">Save User Info</button>
      <button type="button" (click)="cancelAllEditForms()">Cancel</button>
    </form>
  </div>

  <!-- div for edit company info -->
  <div *ngIf="editCompany != null">
    <form>
      <label for="name">Company Name:</label>
      <input size = "50" type="text" id="companyname" name="name" required [(ngModel)]="editCompany.name"><br>
      <label for="description">Company Description:</label>
      <input size = "100" type="text" name="description" required [(ngModel)]="editCompany.description"><br>
      <label for="type">Company Type:</label>
      <input type="text" name="type"  [(ngModel)]="editCompany.type"><br>
      <label for="address">Company Address:</label>
      <input type="text" name="address" [(ngModel)]="editCompany.address"><br>
      <label for="city">Company City:</label>
      <input type="text" name="city" [(ngModel)]="editCompany.city"><br>
      <label for="state">Company State:</label>
      <input type="text" name="state" [(ngModel)]="editCompany.state"><br>
      <label for="zip">Company Zip:</label>
      <input type="text" name="zip" [(ngModel)]="editCompany.zip"><br>
      <label for="phone">Company Phone:</label>
      <input type="tel" pattern="[0-9]{10}" name="phone" [(ngModel)]="editCompany.phone"><br>
      <label for="companyurl">Company URL:</label>
      <input type="text" name="companyurl" [(ngModel)]="editCompany.companyUrl"><br>
      <label for="active">Company Active:</label>
      <input type="checkbox" name="active"  required [(ngModel)]="editCompany.active"><br>
      <button type="button" class="btn btn-primary" (click)="saveEditCompany()">Save Company Information</button>
      <button type="button" (click)="cancelAllEditForms()">Cancel</button>
    </form>
  </div>

  <!-- div for edit project info -->
  <div *ngIf="editProject != null">
    <form>
      <label for="projectname">Project Name:</label>
      <input size = "50" type="text" id="projectname" name="projectname"  required [(ngModel)]="editProject.name"><br>
      <label for="projectactive">Project Active:</label>
      <input  type="checkbox" id="projectactive" name="projectactive"  required [(ngModel)]="editProject.active"><br>
      <button type="button" class="btn btn-primary" (click)="saveEditProject()">Save Project Information</button>
      <button type="button" (click)="cancelAllEditForms()">Cancel</button>
    </form>
  </div>
<!-- end user info div -->
</div>
