<!-- if no user logged in, create new account -->
<div *ngIf="currentUser == null">
  <button (click)="redirToSignIn()">Sign In</button>
  <br>
  <hr>
  <br>
  <h3>Create A New Account</h3>
  <form>
    <label for="username">Username:</label>
    <input type="text" id="username" name="username" required [(ngModel)]="newUser.username"><br><br>
    <label for="password">Password:</label>
    <input type="password" id="password" name="password" required [(ngModel)]="newUser.password"><br><br>
    <label for="firstName">First name:</label>
    <input type="text" id="firstName" name="firstName" required [(ngModel)]="newUserDetail.firstName"><br><br>
    <label for="lastName">Last name:</label>
    <input type="text" id="lastName" name="lastName" [(ngModel)]="newUserDetail.lastName"><br><br>
    <label for="email">email:</label>
    <input type="text" id="email" name="email" required [(ngModel)]="newUserDetail.email"><br><br>
    <label for="street">street address:</label>
    <input type="text" id="street" name="street" [(ngModel)]="newUserDetail.street"><br><br>
    <label for="city">city:</label>
    <input type="text" id="city" name="city" [(ngModel)]="newUserDetail.city"><br><br>
    <label for="zipcode">zipcode:</label>
    <input type="text" id="zipcode" name="zipcode" [(ngModel)]="newUserDetail.zipcode"><br><br>
    <label for="country">country:</label>
    <input type="text" id="country" name="country" [(ngModel)]="newUserDetail.country"><br><br>
    <label for="phone">phone:</label>
    <input type="text" id="phone" name="phone" [(ngModel)]="newUserDetail.phone"><br><br>
    <button (click)="saveCreateUser()">Create Account</button>
  </form>
  <div id = "createUserError">{{userCreated}}</div>
</div>

<!-- if user logged in, show account information -->
<div *ngIf="currentUser != null">
  <!-- div for account info -->
  <div>
    <h3>Name: {{currentUser.userDetail.firstName}} {{currentUser.userDetail.lastName}} </h3>

  </div>
  <!-- div for owner relationships -->
  <div>
    <table class = "table-hover" width = 1000px>
      <thead>
        <tr>
          <th>Company Name</th>
          <th>Company Description</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let company of companiesOwned">
          <td (click)="goToCompanyPage(company.id)">{{company.name}}</td>
          <td>{{company.description}}</td>
          <td><button type="button" class="btn btn-primary" (click)="displayCompanyInfo(company.id)">Edit Company Information</button></td>
        </tr>
      </tbody>
    </table>
  </div>
  <div>
    <table class = "table-hover" width = 1000px>
      <thead>
        <tr>
          <th>Project Name</th>
          <th>Project Company</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let project of projectsRequested">
          <td>{{project.name}}</td>
          <td>{{project.company.name}}</td>
          <td><button type="button" class="btn btn-primary" (click)="displayProjectInfo(project)">Edit Project Information</button></td>
        </tr>
      </tbody>
    </table>
  </div>
  <button type="button" class="btn btn-primary" (click)="displayUserInfo()">Edit Account Information</button>
  <!-- show user information -->
</div>

<div *ngIf="userTable == true">
  <form>
    <label for="username">Username:</label>
    <input type="text" id="username" name="username" placeholder="{{currentUser.username}}" required [(ngModel)]="currentUser.username"><br><br>
    <label for="password">Password:</label>
    <input type="password" id="password" name="password" placeholder="{{currentUser.password}}" required [(ngModel)]="currentUser.password"><br><br>
    <label for="firstName">First name:</label>
    <input type="text" id="firstName" name="firstName" placeholder="{{currentUser.userDetail.firstName}}" required [(ngModel)]="currentUser.userDetail.firstName"><br><br>
    <label for="lastName">Last name:</label>
    <input type="text" id="lastName" name="lastName" placeholder="{{currentUser.userDetail.lastName}}" required [(ngModel)]="currentUser.userDetail.lastName"><br><br>
    <label for="email">email:</label>
    <input type="text" id="email" name="email" placeholder="{{currentUser.userDetail.email}}" required [(ngModel)]="currentUser.userDetail.email"><br><br>
    <label for="street">street address:</label>
    <input type="text" id="street" name="street" placeholder="{{currentUser.userDetail.street}}" required [(ngModel)]="currentUser.userDetail.street"><br><br>
    <label for="city">city:</label>
    <input type="text" id="city" name="city" placeholder="{{currentUser.userDetail.city}}" required [(ngModel)]="currentUser.userDetail.city"><br><br>
    <label for="zipcode">zipcode:</label>
    <input type="text" id="zipcode" name="zipcode" placeholder="{{currentUser.userDetail.zipcode}}" [(ngModel)]="currentUser.userDetail.zipcode"><br><br>
    <label for="country">country:</label>
    <input type="text" id="country" name="country" placeholder="{{currentUser.userDetail.country}}"[(ngModel)]="currentUser.userDetail.country"><br><br>
    <label for="phone">phone:</label>
    <input type="text" id="phone" name="phone" placeholder="{{currentUser.userDetail.phone}}"[(ngModel)]="currentUser.userDetail.phone"><br><br>
    <button type="button" class="btn btn-primary" (click)="editUserInfo()">Save User Account</button>
  </form>
</div>
<div *ngIf="companyTable == true">
  <form>
    <label for="companyname">Company Name:</label>
    <input size = "50" type="text" id="companyname" name="companyname" placeholder="{{editCompany.name}}" required [(ngModel)]="editCompany.name"><br><br>
    <label for="companydescription">Company Description:</label>
    <input size = "100" type="companydescription" id="companydescription" name="companydescription" placeholder="{{editCompany.description}}" required [(ngModel)]="editCompany.description"><br><br>
    <label for="companytype">Company Type:</label>
    <input type="text" id="companytype" name="companytype" placeholder="{{editCompany.type}}" required [(ngModel)]="editCompany.type"><br><br>
    <label for="companyaddress">Company Address:</label>
    <input size = "50" type="text" id="companyaddress" name="companyaddress" placeholder="{{editCompany.address}}" required [(ngModel)]="editCompany.address"><br><br>
    <label for="companyphone">Company Phone:</label>
    <input type="text" id="companyphone" name="companyphone" placeholder="{{editCompany.phone}}" required [(ngModel)]="editCompany.phone"><br><br>
    <label for="companyurl">Company URL:</label>
    <input type="text" id="companyurl" name="companyurl" placeholder="{{editCompany.companyUrl}}" required [(ngModel)]="editCompany.companyUrl"><br><br>
    <label for="companyactive">Company Active:</label>
    <input  type="checkbox" id="companyactive" name="companyactive"  required [(ngModel)]="editCompany.active"><br><br>
    <button type="button" class="btn btn-primary" (click)="editCompanyInfo()">Save Company Information</button>
  </form>
</div>
<div *ngIf="projectTable == true">
  <form>
    <label for="projectname">Project Name:</label>
    <input size = "50" type="text" id="projectname" name="projectname"  required [(ngModel)]="editProject.name"><br><br>
    <label for="projectactive">Project Active:</label>
    <input  type="checkbox" id="projectactive" name="projectactive"  required [(ngModel)]="editProject.active"><br><br>
    <button type="button" class="btn btn-primary" (click)="saveProjectInfo()">Save Project Information</button>
  </form>
</div>
