<div class="container">
<div class="editLoginForm">
<h3>User Login</h3>
 <form #login="ngForm">
  <label for="username">Username:</label><br>
  <input class="input" size="50%" type="text" name="username" ngModel><br><br>
  <label for="password">Password:</label><br>
  <input class="input" size="50%" type="password" name="password" ngModel><br><br>
  <button class="buttonGreen"type="submit" (click)="logIn(login)">Login</button>
</form>
<br>
<br>
<button class="buttonRed" (click)="redirToSignUp()">Sign up for account</button>
</div>
</div>
