

 <h3>Create A New BMTK User Account</h3>
 <form id = "newUser">
  <label for="username">username:</label>
  <input type="string" id="username" name="username"><br><br>
  <label for="password">password:</label>
  <input type="string" id="password" name="password"><br><br>
  <label for="firstName">first name:</label>
  <input type="string" id="firstName" name="firstName"><br><br>
  <label for="lastName">last name:</label>
  <input type="string" id="lastName" name="lastName"><br><br>
  <label for="email">email:</label>
  <input type="string" id="email" name="email"><br><br>
  <label for="street">street address:</label>
  <input type="string" id="street" name="street"><br><br>
  <label for="email">city:</label>
  <input type="string" id="city" name="city"><br><br>
  <label for="zipcode">zipcode:</label>
  <input type="string" id="zipcode" name="zipcode"><br><br>
  <label for="country">country:</label>
  <input type="string" id="country" name="country"><br><br>
  <label for="phone">phone:</label>
  <input type="string" id="phone" name="phone"><br><br>
</form>
<button type="submit" (click)="createUser()">Create User</button>

    <ul id = "showNewUser"></ul>
