<div class="container">
<!-- show to any user upon reaching this page, hide when user attempts to add company -->
<div *ngIf="newCompany == null && !isSearching">
  <form>
    <label class="searchText text-light"for="namesearch">Search by company name:</label>
    <input type="text" name="namesearch" [(ngModel)]="searchTerm">
    <button class="buttonGreen" (click)="searchByCompanyName()">Search</button>
  </form><br>
  <table class="table table-bordered table-hover">
    <thead>
      <tr>
        <th>Name</th>
        <th>Type</th>
        <th>City</th>
        <th>State</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody class="text-light">
      <tr *ngFor="let company of companies">
        <td width="15%" (click)="goToCompanyPage(company.id)">{{company.name}}</td>
        <td width="15%">{{company.type}}</td>
        <td width="10%">{{company.city}}</td>
        <td width="10%">{{company.state}}</td>
        <td>{{company.description}}</td>

      </tr>
    </tbody>
  </table>
  <br>
  <button class="buttonGreen" (click)="showCreateCompany()">Add New Company</button>
</div>

<!-- show search terms -->

<div class="companySearchDiv" *ngIf="newCompany == null && isSearching">
  <h3>Companies Currently Using BMTK</h3>
  <table class="table table-bordered table-hover">
    <thead>
      <tr>
        <th>Name</th>
        <th>Type</th>
        <th>City</th>
        <th>State</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
      <tbody class="text-light">
        <tr *ngFor="let company of companies | companyNameSearch: searchTerm">
          <td width="15%" (click)="goToCompanyPage(company.id)">{{company.name}}</td>
          <td width="15%">{{company.type}}</td>

          <td width="10%">{{company.city}}</td>
          <td width="10%">{{company.state}}</td>
          <td>{{company.description}}</td>
        </tr>
       </tbody>
 </table>
    <br>
    <button class="buttonGreen" (click)="showCreateCompany()">Add New Company</button>
    <button class="buttonRed"(click)="showAll()">Show All</button><br>

</div>

<!-- show once user attempt to add company -->

<div class="editCompanyForm" *ngIf="newCompany != null">
  <h3>Create New Company</h3>
  <form>
    <label for="name">Name:</label><br>
    <input size="80%" type="text" id="name" name="name" required [(ngModel)]="newCompany.name"><br><br>
    <label for="type">Type:</label><br>
    <input size="80%" type="type" id="type" name="type" [(ngModel)]="newCompany.type"><br><br>
    <label for="address">Address:</label><br>
    <input size="80%" type="text" id="address" name="address" [(ngModel)]="newCompany.address"><br><br>
    <label for="city">City:</label><br>
    <input size="80%" type="text" id="city" name="city" [(ngModel)]="newCompany.city"><br><br>
    <label for="state">State:</label><br>
    <input size="80%" type="text" id="state" name="state" [(ngModel)]="newCompany.state"><br><br>
    <label for="zip">Zip:</label><br>
    <input size="80%" type="text" id="zip" name="zip" [(ngModel)]="newCompany.zip"><br><br>
    <label for="phone">Phone:</label><br>
    <input size="80%" type="text" id="phone" name="phone" [(ngModel)]="newCompany.phone"><br><br>
    <label for="description">Description:</label><br>
    <input size="80%" type="text" id="description" name="description" [(ngModel)]="newCompany.description"><br><br>
    <button class="buttonGreen" (click)="saveCreateCompany()">Create New Company</button>
    <button class="buttonRed" (click)="cancelCreate()">Cancel</button>
  </form>

  <div id = "createCompanyError">{{companyCreated}}</div>
</div>
</div>





