<h1>BMTK Home Page</h1>

<a [routerLink] = "'login'" routerLinkActive="active">Login to an Account</a>
<br>
<a [routerLink] = "'user'" routerLinkActive="active">Create New Account</a>
<br>
<a [routerLink] = "'learn'" routerLinkActive="active">Learn More About BMTK</a>
<br>
<a [routerLink] = "'currentcustomer'" routerLinkActive="active">See Companies Using BMTK</a>
<br>
<a [routerLink] = "'employee'" routerLinkActive="active">Create an employee</a>
<br>
<a [routerLink] = "'customer'" routerLinkActive="active">Create a customer</a>
<br>
<a [routerLink] = "'companycreated'" routerLinkActive="active">Company Created</a>
<br>
<a [routerLink] = "'companynew'" routerLinkActive="active">New Company</a>


<div>
<router-outlet></router-outlet>
</div>





