<!-- show to any user upon reaching this page, hide when user attempts to add company -->
<div *ngIf="newCompany == null && !isSearching">
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let company of companies">
        <td (click)="goToCompanyPage(company.id)">{{company.name}}</td>
        <td>{{company.description}}</td>
      </tr>
    </tbody>
  </table>
  <form>
    <label for="namesearch">Search by company name:</label>
    <input type="text" name="namesearch" [(ngModel)]="searchTerm"><br>
    <button (click)="searchByCompanyName()">Search</button>
  </form><br>
  <button (click)="showCreateCompany()">button that will change something to show add company form</button>
</div>

<!-- show search terms -->

<div *ngIf="newCompany == null && isSearching">
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let company of companies | companyNameSearch: searchTerm">
        <td (click)="goToCompanyPage(company.id)">{{company.name}}</td>
        <td>{{company.description}}</td>
      </tr>
    </tbody>
  </table>
  <button (click)="showAll()">Show All</button><br>
  <button (click)="showCreateCompany()">button that will change something to show add company form</button>
</div>

<!-- show once user attempt to add company -->

<div *ngIf="newCompany != null">
  <form>
    <label for="name">Name:</label>
    <input type="text" id="name" name="name" required [(ngModel)]="newCompany.name"><br><br>
    <label for="type">Type:</label>
    <input type="type" id="type" name="type" [(ngModel)]="newCompany.type"><br><br>
    <label for="address">Address:</label>
    <input type="text" id="address" name="address" [(ngModel)]="newCompany.address"><br><br>
    <label for="phone">Phone:</label>
    <input type="text" id="phone" name="phone" [(ngModel)]="newCompany.phone"><br><br>
    <label for="description">Description:</label>
    <input type="text" id="description" name="description" [(ngModel)]="newCompany.description"><br><br>
    <label for="companyUrl">Site:</label>
    <input type="text" id="companyUrl" name="companyUrl" [(ngModel)]="newCompany.companyUrl"><br><br>
    <button (click)="saveCreateCompany()">Create New Company</button>
  </form>

  <div id = "createCompanyError">{{companyCreated}}</div>
</div>






